* {
  color: rgb(214, 214, 214);
}

.container-fluid {
  padding: 0;
}

/* Home */

#home {
  position: relative;
  margin: auto;
  text-align: center;
  min-height: 100vh;
  padding-top: 25vh;
}

.backgrounds-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
}

.background {
  position:absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  transition: opacity 2s ease-in-out;
}

.showing {
  opacity: 1;
}

#home h1 {
  font-family: "Minecraft";
  font-size: 800%;
  line-height: 1;
}

#home h5 {
  font-family: "Truculenta";
  font-size: 30px;
  margin-top: 50px;
  line-height: 50px;
}

#home a {
  font-family: "Minecraft";
}

#home-logo{
  padding: 10px 50px;
  width:45%;
}

#home .home-button {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 200px;
  margin: 30px;
  padding: 20px 30px;
  border: 2px solid;
  border-radius: 0;
}

#home .buttons {
  display: inline-block;
  width:100%;
  padding: 3% 20%;
  margin: auto;
}

#discover {
  background: transparent;
  color: white;
}

#discover:hover,#discover:focus {
  color: white;
}

#getstarted {
  background-color: white;
  color: black;
}

#getstarted:hover,#getstarted:focus {
  color: white;
}

.hvr-bounce-to-top:before {
  background: black !important;
}

#discover .hvr-bounce-to-top:after {
  background-color: transparent;
}

/* navbar */

#navigation {
  
  margin: auto;
  justify-content: center;
  align-items: center;
  
  
}

#navigation-bar {
  background-image: url('../images/navigationimage.jpg');
  background-size: cover;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: center;
  border-bottom: 0px solid white;
  z-index: 1;
}

.navigation-background-box {
  position: absolute;
  z-index: -2;
}

.navigation-background {
  position:relative;
  right:100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#navigation .navbar {
  font-family: "Minecraft";
}

#navigation .navbar-brand {
  color: rgb(214, 214, 214);
  font-size: 30px;
}

#navigation .nav-item {
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

#navigation .nav-link {
  color: rgb(214, 214, 214);
}

.active {
  font-size: 40px;
  padding-top: 0;
}

/* features */

#features {
  min-height: 100vh;
  padding: 0 10%;
  background-image: url('../images/navigationimage.jpg');
  background-size: contain;
  background-attachment:fixed;
}

#features .features-row {
  justify-content: center;
}

#features .features-col {
	width: 40vw;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 200;
	padding: 0 4vw 4vw;
  margin-top: 20px;
	border-right: 0;
	border-left: 2px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}

#features .features-title {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#features .features-text {
  text-align: justify;
  font-style: italic;
	color: #9f9f9f;
	margin-bottom: 1.2em;
	letter-spacing: 1px;
	font-family: Lora, serif;
  font-size: 18px;
}

#features .features-icon {
  font-size: 3em;
	opacity: .8;
	margin-bottom: 0.6em;
  text-align: center;
}

#features .features-icon:hover {
  opacity: 1;
}

.features-icon img {
  width: 12%;
  opacity: .9;
}

#features-image-box {
  /* margin-top: -250px; */
  padding: 0;
}

.features-image {
  margin: 5px;
  width: 250px;
  height: 500px;
  object-fit: cover;
  width: 100%;
  z-index: -10;
}

#features-image-box .right {
  padding: 5px;
  padding-bottom: 0;
}

#features-image-box .left {
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

#featureimage1 {
  height: 250px;
  padding-top: 0;
  margin-top: 0;
}

#featureimage6 {
  height: 250px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#featureimage7 {
  margin-bottom: 0;
}

#games {
  min-height: 100vh;
}

#events {
  min-height: 100vh;
}

#gallery {
  min-height: 100vh;
}
