
.container-fluid {
  padding: 0;
}


/* Home */

#home {
  margin: auto;
  color: rgb(214, 214, 214);
  text-align: center;
  height: 1000px;
}

.backgrounds-container {
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: -3;
  background-color: black;
}

.background {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  transition: opacity 2s ease-out;
}

.showing {
  opacity: 1;
}

h1 {
  font-family: "Minecraft";
  font-size: 120px;
  margin-top: 270px;
  line-height: 50px;
}

h5 {
  font-family: "Fjalla One";
  font-size: 30px;
  margin-top: 50px;
  line-height: 50px;
}

a {
  font-family: "Minecraft";
}

#home-logo{
  padding: 10px 50px;
  width:45%;
}

#home .home-button {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 170px;
  margin: 30px;
  padding: 20px 30px;
}

#home .buttons {
  display: inline-block;
  width:100%;
  padding: 3% 20%;
  margin: auto;
}

#discover {
  background: transparent;
  color: white;
}

#discover:hover,#discover:focus {
  color: white;
}

#getstarted {
  background-color: white;
  color: black;
}

#getstarted:hover,#getstarted:focus {
  color: white;
}

.hvr-bounce-to-top:before {
  background: black !important;
}

#discover .hvr-bounce-to-top:after {
  background-color: transparent;
}