* {
  color: rgb(214, 214, 214);
}

.container-fluid {
  padding: 0;
}

/* Home */

#home {
  position: relative;
  margin: auto;
  text-align: center;
  min-height: 100vh;
  /* padding-top: 25vh; */
}

.backgrounds-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
}

.background {
  position:absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  transition: opacity 2s ease-in-out;
}

.showing {
  opacity: 1;
}

#home h1 {
  font-family: "Minecraft";
  font-size: 800%;
  line-height: 1;
}

#home h5 {
  font-family: "Truculenta";
  font-size: 30px;
  margin-top: 50px;
  line-height: 50px;
}

#home a {
  font-family: "Minecraft";
}

#home-logo{
  padding: 10px 50px;
  width:45%;
}

#home .login-box {
  margin-bottom: 25vh;
  text-align: right;
}

#home #login-icon {
  width: 2%;
  margin: 20px;
  opacity: .8;
}

#home #login-icon:hover {
  opacity: 1;
}

#home .home-button {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 200px;
  margin: 30px;
  padding: 20px 30px;
  border: 2px solid;
  border-radius: 0;
}

#home .buttons {
  display: inline-block;
  width:100%;
  padding: 3% 20%;
  margin: auto;
}

#discover {
  background: transparent;
  color: white;
}

#discover:hover,#discover:focus {
  color: white;
}

#getstarted {
  background-color: white;
  color: black;
}

#getstarted:hover,#getstarted:focus {
  color: white;
}

.hvr-bounce-to-top:before {
  background: black !important;
}

#discover .hvr-bounce-to-top:after {
  background-color: transparent;
}

/* navbar */

#navigation {
  margin: auto;
  justify-content: center;
  align-items: center;
}

#navigation-bar {
  background-image: url('../images/navigationimage.jpg');
  background-size: cover;
  padding: 10px 0;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: center;
  border-bottom: 1px solid white;
  z-index: 1;
}

.navigation-background-box {
  position: absolute;
  z-index: -2;
}

.navigation-background {
  position:relative;
  right:100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#navigation .navbar {
  font-family: "Minecraft";
}

#navigation .navbar-brand {
  color: rgb(214, 214, 214);
  font-size: 30px;
}

#navigation .nav-item {
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

#navigation .nav-link {
  color: rgb(214, 214, 214);
}

.active {
  font-size: 40px;
  padding-top: 0;
}

/* features */

#features {
  min-height: 100vh;
  padding: 0 10%;
  background-image: url('../images/navigationimage.jpg');
  background-size: contain;
  background-attachment:fixed;
}

#features .features-row {
  justify-content: center;
}

#features-col-box {
  padding-top: 100px;
}

#features .features-col {
	width: 40vw;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 200;
	padding: 0 4vw 4vw;
  margin-top: 20px;
	border-right: 0;
	border-left: 2px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}

#features .features-title {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#features .features-text {
  text-align: justify;
  font-style: italic;
	color: #9f9f9f;
	margin-bottom: 1.2em;
	letter-spacing: 1px;
	font-family: Lora, serif;
  font-size: 18px;
}

#features .features-icon {
  
  width: 50%;
	opacity: .8;
	margin-bottom: 0.8em;
  text-align:left;
}

#features .features-icon:hover {
  opacity: 1;
}

.features-icon img {
  width: 12%;
  opacity: .9;
}

#features-image-box {
  /* margin-top: -250px; */
  padding: 0;
}

.features-image {
  margin: 5px;
  width: 250px;
  height: 500px;
  object-fit: cover;
  width: 100%;
  z-index: -10;
}

#features-image-box .right {
  padding: 5px;
  padding-bottom: 0;
}

#features-image-box .left {
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

#featureimage1 {
  height: 250px;
  padding-top: 0;
  margin-top: 0;
}

#featureimage6 {
  height: 250px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#featureimage7 {
  margin-bottom: 0;
}

/* Video section  */
#video {
  background: url('../images/gamesbackground.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #999;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 100px 0;
}

#video .video-items {
  margin: auto;
}

#video .overlay {
  background: rgba(03,03,03,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#video h2 {
  color: #ffffff;
  font-family: Lato, serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 16px;
}

#video p {
  font-family: Lora, serif;
  font-style: italic;
}

#video .fa {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-top: 22px;
}

/* games */

#games {
  background-image: url('../images/navigationimage.jpg');
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(200px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 10%;
  font-family: 'Roboto', sans-serif;
}

#games h1 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: Lato, serif;
  font-weight: 300;
}

.card {
  width: 20rem;
  height: 28rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 3px;
  cursor: pointer;
  position: relative;
  color: color-primary-white;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card-image {
  position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
}

.card-content h2 {
  position: absolute;
  inset: auto auto 30px 16px;
  margin: 0;
  transition: inset .3s .3s ease-out;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.card-content p,.card-content a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}

.card-content p {
  inset: auto auto 10px 16px;
  font-family: Lora, serif;
  font-style: italic;
}

.card-content a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card-content p, .card-content a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}


.card:hover h2 {
  inset: auto auto 220px 16px;
  transition: inset .3s ease-out;
}

.card:hover p, .card:hover a {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}

.card:hover img {
  transition: opacity .3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
vertical-align: middle;
}

#games .time {
  text-align: center;
}

.time h4 {
  font-family: "Lora";
  font-style: italic;
}

#events {
  min-height: 100vh;
}

#gallery {
  min-height: 100vh;
}

